[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/smyck/colors"]
	path = .vim/bundle/smyck/colors
	url = https://github.com/hukl/Smyck-Color-Scheme.git
