[submodule ".vim/bundle/solarized"]
	path = .vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/zenburn"]
	path = .vim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
